*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    
    --global-width-992px: 75%;
    --global-width-600px: 90%;
    --global-color-accent: #45DC9B;
    --global-color-accent-2: #FF009D;


    --title-font-size: 2.5em;
    --title-font-weight: 700;
    --title-line-height: 1.2rem;
    --title-margin: 20px 0px 20px 0px;
    --title-text-transformation: capitalize;

        
    --paragraph-color: #828282;
    --paragraph-line-height: 1.9rem;
    --paragraph-font-size: 1.1rem;
    --paragraph-font-weight: 100;
    --paragraph-margin: 20px 15px 20px 15px;

    --global-h6-font-size: 18px;
    --global-h6-line-height: 1.1em;

    --global-h5-font-size: 24px;
    --global-h5-font-weight: 600;
    --global-h5-line-height: 1.3em;
    --global-h5-text-transform: capitalize;
    --global-h5-letter-spacing: -1px;
    
    --button-border-color: var(--global-color-accent);
    --button-boder-style: solid;
    --button-boder-width: 2px 2px 2px 2px;
    --button-border-radius: 4px 4px 4px 4px;
    --button-color-accent: var(--global-color-accent);
    --button-padding: 19px 38px 19px 38px;
    --button-font-size: 16px;
    --button-font-weight: 700;
    --button-text-transform: uppercase;
    --button-hover-background-color: #44d6b13a;
    --button-hover-border-color: #44d6b13a;
    /* --button-hover-border-style: */


    --box-info-shadow: 1px 4px 60px #acacac;
    --box-info-border-radius: 5px 5px 5px 5px;


}
/* Global header */

@media only screen and (min-width: 992px) {
    .global-header__hamburger-box, .global-sidebar-bg__content, .global-sidebar-bg__content, .global-sidebar-bg__logo-and-exit-box{
        display: none;
    }
    .global-header{
        width: 100%;
        padding-top: 20px;
        position: fixed;
        top: 0;
        background-color: rgba(255, 255, 255, 0.718);
    }
    .global-header__top-box{
        width: var(--global-width-992px);
        margin: auto;
        display: grid;
        grid-template-columns: 0.7fr 3fr;
        grid-template-rows: 1fr;
    }
    
    .global-header__nav{
        padding: 5px;
        display: flex;
        align-items: center;
    }
    .global-header__hamburger-box{
        display: none;
    }
    .global-header__ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-left: auto;
        padding: 10px 5px 10px 5px;
    }
    .global-header__ul > li {
        /* margin: 0xp 10px 0px 10px; */
    }

    .global-header__logo > img{
        max-width: 100%;
        width: 80%;
        height: auto;
    }
    .global-header__ul > li > a{
        color: #000000;
        font-size: 16px;
        text-decoration: none;
    }
    .global-header__ul > li > a{
        color: #000000;
        font-size: 16px;
        text-decoration: none;
    }
    .global-header__ul > li > a:hover{
        color: #45DC9B;
        transition: 0.3s;
    }
}



/* Mobile view */

@media only screen and (max-width: 600px) {
    .global-header{
        width: 100%;
        padding: 10px 0px;
        position: fixed;
        top: 0;
        background-color: rgb(255, 255, 255);
    }
    .global-header__top-box{
        width: var(--global-width-600px);
        height: 100%;
        
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
/*         display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; */
    }
    
    .global-header__nav{
/*         padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center; */
        display: none;
    }
    .global-header__hamburger-box{
        padding: 5px 10px;
        color: var(--global-color-accent);
        border-color: var(--global-color-accent);
        border-width: var(--button-boder-width);
        border-radius: var(--button-border-radius);
        border-style: var(--button-boder-style);
    }

    .global-sidebar-bg{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;

    }

    .global-sidebar-bg__content{
        display: none;
        position: absolute;
    }

    .global-sidebar-bg__content{
        background-color: white;
        height: 100%;
        width: 90%;
        position: absolute;
        animation-name: slide;
        animation-duration: 0.5s;
    }
    @keyframes slide{
        from{
            left: -300px;
        }
        to{
            left: 0px;
        }
    }

    .global-sidebar-bg__logo-and-exit-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
        width: var(--global-width-600px);
        margin: auto;
        margin-top: 15px;
    }
    .global-sidebar-bg__logo-and-exit-box > div > img{
        max-width: 100%;
        width: 75%;
        height: auto;
    }
    .global-sidebar-bg__logo-and-exit-box > div > button{
        padding: 7px 10px;
        border-radius: var(--button-border-radius);
        border-style: solid;
        border-width: 1px;
        font-weight: 600;
        border-color: #000000;
        text-align: center;
    }
    .global-sidebar-bg__content > ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        margin: 10px 0px;
    }
    .global-sidebar-bg__content> ul > li > a{
        color: #000000;
        font-size: 16px;
        text-decoration: none;
        margin: 20px 0px;
    }

    .global-sidebar-bg__content> ul > li > a:hover{
        color: #45DC9B;
        transition: 0.3s;
    }

    .global-header__ul > li {
        /* margin: 0xp 10px 0px 10px; */
    }

    .global-header__logo > img{
        max-width: 100%;
        width: 75%;
        height: auto;
    }

    .global-header__ul > li > a{
        color: #000000;
        font-size: 16px;
        text-decoration: none;
    }

    .global-header__ul > li > a:hover{
        color: #45DC9B;
        transition: 0.3s;
    }
}
